/node_modules
node_modules

# IntelliJ #
.idea*
*.iml
# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

.elasticbeanstalk/
out/
.*.swp

/build
/build/index.html
build/*
build/css/style.css
build/index.html
build/js/bundle.js
/public
/public/index.html
public/*
public/css/style.css
public/index.html
public/js/bundle.js

.DS_Store

.history/*
